name: boxicons
description: Boxicons customization for Flutter.
version: 1.0.1
homepage: https://github.com/alialnaghmoush/boxicons
# repository:

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# The following section is specific to Flutter.
flutter:
  fonts:
      - family: Boxicons
        fonts:
          - asset: fonts/boxicons.ttf

